.ProjectPage {
}

.ProjectPage-header {
  padding: 5vmin;

  background-color: #a22744;
  color: #fff;
}

.ProjectPage-title {
  font-size: 5vmin;
  margin: 0;
}

.ProjectPage-back {
  position: relative;

  display: block;
  width: 6.5em;
  height: 5.375em;
  margin: 2.3em 0;
  margin: calc(-.375em / 2) 0;
  border-radius: .25em;

  font-size: 1vmin;
}

.ProjectPage-back::after {
  content: '';

  position: absolute;
  left: .5em; top: .5em;

  width: 1.5em;
  height: 1.125em;
  border-radius: .25em;

  box-shadow:            2em 0,       4em 0,
              0 1.625em, 2em 1.625em, 4em 1.625em,
                         2em 3.25em,  4em 3.25em;

  background-color: currentColor;
}

.ProjectPage-container {
  width: 100vmin;
  padding: 0 0 5vmin;
  margin: auto;
}

.ProjectPage-body {
  cursor: url(../../media/cursor.svg) 12 12, auto;
  position: relative;
  overflow: hidden;

  height: 75vmin;

  font-size: 2vmin;

  background-color: #fafafa;
}

.ProjectPage-body > * {
  width: 100%;
  height: 100%;
}

.ProjectPage-body label,
.ProjectPage-body input,
.ProjectPage-body select {
  cursor: url(../../media/cursor.svg) 12 12, auto;
}

.ProjectPage-footer {
  padding: 0 10vmin;
}

@media all and (orientation: landscape) {
  .ProjectPage-container {
    padding: 5vmin 0;
  }

  .ProjectPage-body {
    border-radius: 2vmin;
  }
}
