.Phone {
  overflow: hidden;

  width: 35vw;
  height: 62.125vw;

  border-radius: .5em;

  font-size: 2vw;

  background-color: #fff;
}

.Phone-keyboard {
  position: absolute;
  left: 0;
  right: 0; bottom: 0;
}
