.Project-023 {
  background-color: #53688d;
}

.Project-023-container {
  width: 30vmin;
  height: 55vmin;
  padding: 30vmin 2vmin 0;

  text-align: center;

  box-shadow: 0 2vmin 6vmin -2vmin rgba(0, 0, 0, .5);

  background-color: #335296;
  color: #fff;
}

.Project-023-container.container1 {
  left: auto;
  right: 52%;
  z-index: 1;
}

.Project-023-container.container2 {
  left: 52%;
  right: auto;
}

.Project-023-sky {
  position: absolute;
  left: 0; top: 0;
  right: 0;

  overflow: hidden;

  height: 30vmin;

  background-image: radial-gradient(ellipse 100% 100% at 50% 100%, transparent, transparent, rgba(0, 0, 0, .4));
}

.Project-023-sky::after {
  content: '';

  position: absolute;
  left: 0;
  right: 0; bottom: 0;

  height: 12vmin;

  background-image: linear-gradient(transparent, #335296);
}

.Project-023-person {
  position: absolute;

  width: 4vmin;
  height: 5vmin;
  border-top-left-radius:     100%;
  border-top-right-radius:    100%;
  border-bottom-left-radius:  100% 160%;
  border-bottom-right-radius: 100% 160%;

  background-color: rgba(0, 0, 0, .8);
}

.Project-023-person.person1 {
  left: 51%;
  bottom: 4vmin;
}

.Project-023-person.person2 {
  right: 51%;
  bottom: 3vmin;
}

.Project-023-person::after {
  content: '';

  position: absolute;
  left: -2vmin; top: 100%;

  width: 8vmin;
  height: 4vmin;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  background-color: rgba(0, 0, 0, .8);
}

.Project-023-star {
  position: absolute;

  width: .5vmin;
  height: .5vmin;
  border-radius: 100%;

  box-shadow: 0 0 8vmin,
              0 0 4vmin;

  background-color: currentColor;
  color: #fff;

  transform: translate(-50%, -50%);

  animation: starPulse 8s ease-out infinite;
}

.Project-023-star.big {
  width: 1vmin;
  height: 1vmin;
}

.Project-023-star::before {
  content: '';

  position: absolute;
  left: .1875vmin;
  bottom: .25vmin;

  width: .125vmin;
  height: 40vmin;

  opacity: .25;

  background-color: #fff;
}

.Project-023-star.big::before {
  left: .4375vmin;
  bottom: .5vmin
}

.Project-023-page-title {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

.Project-023-description {
  opacity: .75;
  font-size: .75em;
}

.Project-023-navigation {
  position: absolute;
  left: 0;
  right: 0; bottom: 0;

  background-color: rgba(0, 0, 0, .2);
}

.Project-023-navigation-item {
  opacity: .75;

  display: inline-block;
  width: 1vmin;
  height: 1vmin;
  margin: 2.5vmin 1vmin;
  border-radius: 100%;

  background-color: #fff;
}

.Project-023-navigation-item.active {
  opacity: 1;

  transform: scale(1.25);
}

.Project-023-cta {
  position: absolute;
  left: 0;
  bottom: 0; right: 0;

  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 0;

  text-transform: uppercase;
  font-weight: bold;

  background-color: rgba(0, 0, 0, .2);
}

@keyframes starPulse {
  50%  { opacity: 1 }
  75%  { opacity: 0 }
  100% { opacity: 1 }
}
