.CreditCard {
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;

  width: 53.5vw;
  height: 33.74vw;
  margin: auto;

  border-radius: .5em;
  box-shadow: 0 2em 6em 0em rgba(0, 0, 0, .5);

  font-size: 2vw;

  background-color: #fff;
}
