.ProjectThumb {
  display: block;
}

.ProjectThumb-header {
  position: relative;
}

.ProjectThumb-number {
  opacity: .75;
  font-weight: bold;
}

.ProjectThumb-title {
  position: relative;
  margin-top: 0;
}

.ProjectThumb-image {
  width: 100%;
  max-width: none;
  border: .25em solid;

  background-color: currentColor;
}
