.ProjectThumb {
  display: block;
}

.ProjectThumb-header {

}

.ProjectThumb-number {
  opacity: .75;
}

.ProjectThumb-title {
  margin-top: 0;
}

.ProjectThumb-image {
  width: 100%;
  max-width: none;
  border: .25em solid;

  background-color: currentColor;
}
