.ProjectList {
  padding: 5vw 2.5vw;
}

.ProjectList-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.ProjectList-item {
  padding: 0 2.5vw !important;
  margin-bottom: 2em;

  font-size: 1.5em;
}

@media all and (min-width: 481px) {
  .ProjectList-item {
    font-size: 1em;
  }
}

@media all and (min-width: 721px) {
  .ProjectList-item {
    font-size: .75em;
  }
}
