.Project-020 {
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
              url(../../media/mountain_map.png) no-repeat top / cover;
}

.Project-020-container {
  background-color: #75cff0 !important;
}

.Project-020-back {
  position: absolute;
  left: 0; top: 0;
  z-index: 1;

  opacity: 0;

  padding: 1em 0 1em 5vmin;

  background: url(../../media/arrow_left.svg) no-repeat left 2vmin top 50% / 1em;

  animation: appearLeft .4s 1.8s cubic-bezier(0, 0, .5, 1) forwards;
}

.Project-020-map {
  position: absolute;
  left: -100%; top: -10%;
  right: -100%;

  max-width: none;
  margin: auto;

  animation: mapZoom 1s cubic-bezier(0, 0, .5, 1);
}

.Project-020-svg {
  position: absolute;
  top: -10%;
  
  max-width: 104%;
  margin: 0 -4%;
}

.Project-020-trail {
  stroke-dashArray: 1765;
  stroke-dashoffset: 1765;

  animation: traceTrail 1s 1s cubic-bezier(0, 0, .5, 1) forwards;
}

.Project-020-stats {
  position: absolute;
  left: 2vmin;
  right: 2vmin; bottom: 0;

  opacity: 0;

  border-radius: .5vmin .5vmin 0 0;

  background-color: rgba(255, 255, 255, .8);

  animation: statsAppear .4s 1.8s cubic-bezier(0, 0, .5, 1) forwards;
}

.Project-020-stat {
  padding: 1em;
}

.Project-020-stat-title {
  opacity: .5;
  margin-bottom: .25em;
}

.Project-020-stat-value {
  font-size: 2em;
}

.Project-020-stat-value.accent {
  margin-bottom: -.5em;

  color: #f7013d;
}

.Project-020-stat-unit {
  opacity: .5;
  margin-left: .25em;

  font-size: .5em;
  vertical-align: baseline;
}

@keyframes mapZoom {
  from { opacity: 0; transform: scale(1.5);}
}

@keyframes traceTrail {
  to { stroke-dashoffset: 0; }
}

@keyframes statsAppear {
  from { opacity: 0; transform: translateY(20%) scale(.9); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes appearLeft {
  from { opacity: 0; transform: translateX(-20%); }
  to { opacity: 1; transform: translateX(0); }
}
