.Project-008 {
  background-color: #00b8fb;
}

.Project-008-container {
  overflow: hidden;

  width: 92.5vmin;
  height: 67.5vmin;

  border-radius: 2em;

  text-align: center;

  background-image: linear-gradient(#fff, #f2f2f2);
}

.Project-008-nav {

}

.Project-008-logo {
  position: absolute;
  left: 4vmin; top: 4vmin;

  height: 4vmin;
}

.Project-008-menu {
  position: absolute;
  top: 4vmin;
  right: 4vmin;

  width: 4vmin;
  height: 4vmin;

  color: #00b8fb;
}

.Project-008-menu::after {
  content: '';

  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;

  height: .3vmin;
  margin: auto;

  border-radius: .3vmin;

  box-shadow: 0 1vmin, 0 -1vmin;

  background-color: currentColor;
}

.Project-008-title {
  height: 1em;
  margin: 15.25vmin 0 0;

  font-size: 25vmin;
  font-family: 'Source Sans Pro', sans-serif;
  color: #00b8fb;
}

.Project-008-illustration {
  height: .8em;
  margin: .125em;
}

.Project-008-subtitle {

}

.Project-008-button {
  padding: .75em 1em;
  margin-top: 1em;
  border-radius: 3em;

  background-color: #00b8fb;
  color: #fff;
}
