/*
Accent color:     #f43b4a
Primary color:    #033f89
Background color: #ffffff
*/

.Project-021 {
  background: url(../../media/home_background.jpg) no-repeat center / 120vmin;
  color: #033f89;
}

.Project-021-container {
  overflow: hidden;
  opacity: 0;

  width: 0;
  height: 10vmin;

  border-radius: .5vmin;

  background-color: rgba(255, 255, 255, .8);

  animation: dashboardAppear 1.5s .5s cubic-bezier(0, 0, .5, 1) forwards;
}

.Project-021-container::before {
  content: '';
  position: absolute;
  left: -2vmin; top: -2vmin;
  right: -2vmin; bottom: -2vmin;

  filter: blur(1vmin);

  background:
    linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),
    url(../../media/home_background.jpg) no-repeat center / 120vmin;
}

.Project-021-nav {
  position: absolute;
  left: 0; bottom: 0; right: 0;

  opacity: 0;

  text-align: center;

  animation: widgetAppear .5s 2s cubic-bezier(0, 0, .5, 1) forwards;
}

.Project-021-nav-item {
  display: inline-block;

  width: 12vmin;
  padding: 2vmin;
  margin: -1vmin 0 0;

  font-size: .75em;
}

.Project-021-nav-item input {
  display: none;
}

.Project-021-nav-item svg,
.Project-021-nav-item span {
  transition: color .2s;
}

.Project-021-nav-item :checked ~ * {
  color: #f43b4a;
}

.Project-021-widget {
  position: relative;
  height: 24vmin;

  opacity: 0;

  animation: widgetAppear .5s 2s cubic-bezier(0, 0, .5, 1) forwards;
}

.Project-021-widget::before {
  content: '';

  position: absolute;
  left: 3vmin; top: 4.4vmin;
  right: 3vmin; bottom: 0;

  border: .2vmin solid;
  border-radius: .25vmin;
}

.Project-021-widget-title {
  position: absolute;
  left: 4vmin; top: 2.6vmin;

  margin: 0;

  font-size: 2vmin;
  font-family: 'Source Sans Pro', sans-serif;

  color: #f43b4a;
}

.Project-021-widget-inner {
  position: absolute;
  left: 3vmin; top: 4.4vmin;
  right: 3vmin; bottom: 0vmin;

  padding: 1vmin;
}

.Project-021-widget-value {
  position: relative;
  z-index: 1;

  float: left;
  margin-right: 2vmin;

  font-weight: bold;
}

.Project-021-widget-action {
  float: left;

  min-width: 4vmin;
  height: 4vmin;
  padding: 0 .8vmin;
  margin: 1vmin 1vmin 1vmin 0;
  border: .2vmin solid #f43b4a;
  border-radius: 2vmin;

  line-height: 3.6vmin;
  text-align: center;
}

.Project-021-widget-value.big {
  font-size: 6vmin;
}
.Project-021-widget-action.big {
  font-size: 2em;
}

.Project-021-graph {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.Project-021-graph-group {
  transform: scale(1, 0);
  transform-origin: bottom;

  animation: graphAppear .5s 2.5s cubic-bezier(0, 0, .5, 1) forwards;
}

.Project-021-graph-line {
  stroke: currentColor;

  color: #f43b4a;
}

@keyframes dashboardAppear {
  33% { width: 80vmin; height: 10vmin; }
  67% { opacity: .5; width: 80vmin; height: 60vmin; }
  100% { opacity: 1; width: 80vmin; height: 60vmin; }
}

@keyframes widgetAppear {
  to { opacity: 1; }
}

@keyframes graphAppear {
  to { transform: scale(1); }
}
