@import url('https://fonts.googleapis.com/css?family=Oswald');

.Project-002 {
  font-family: 'Oswald', sans-serif;

  background: linear-gradient(-30deg, #211538, #6a84ab);
}

.Project-002 ::-webkit-input-placeholder {
  color: #6a84ab;
}

.Project-002-container {
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;

  width: 60vmin;
  height: 40vmin;
  margin: auto;
}

.Project-002-info {
  position: relative;
  height: 100%;
  padding: 2em !important;

  color: #fff;
}

.Project-002-info::before {
  content: '';

  position: absolute;
  left: 1em; top: 1em;
  right: 1em; bottom: 1em;

  border: 1px solid;
}

.Project-002-product-title {
  font-family: 'Oswald', sans-serif;

  margin: 0;

  font-size: 1.2em;
}

.Project-002-product-specs {
  font-size: 0.8em;
}

.Project-002-product-spec {
  display: inline-block;
  width: 8em;
}

.Project-002-product-image {
  pointer-events: none;

  position: absolute;
  left: -4em;
  right: -4em; bottom: -2em;

  display: block;
  width: calc(100% + 8em);
  max-width: none;

  filter: drop-shadow(0 2em 2em rgba(0, 0, 0, .75));
}

.Project-002-checkout {
  height: 100%;
  padding: 1em !important;

  box-shadow: 0 2em 6em 0em rgba(0, 0, 0, .5);

  background: #fff;
  color: #211538;
}

.Project-002-logo {
  height: 2em;
  margin: .25em;
}

.Project-002-checkout-price {
  padding: .5em;
  margin: 0;
  border: 1px solid;
}

.Project-002-checkout-price::before {
  content: '€';

  font-size: .75em;
  vertical-align: .25em;

  color: #6a84ab;
}

.Project-002-checkout-title {
  margin-top: 1.3em;

  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
}

.Project-002-checkout-form .row {
  margin: 0 -.5em;
}

.Project-002-checkout-form label {
  margin-bottom: 1.5em;
}

.Project-002-checkout-form input,
.Project-002-checkout-form button {
  display: block;
  width: 100%;
  padding: .5em 0;
}

.Project-002-checkout-form input {
  border-bottom: 1px solid #211538;
}

.Project-002-checkout-form button {
  text-transform: uppercase;

  background: linear-gradient(-210deg, #211538, #6a84ab);
  color: #fff;
}

.Project-002-checkout-label {
  display: block;
  font-size: .5em;
}

.Project-002-checkout-cc-field {
  background: url(../../../media/MasterCard.png) no-repeat right .5em top 50%;
  background-size: 1.5em;
}
