.Project-005 {
  background: linear-gradient(-210deg,
                rgba(197, 210, 222, .4),
                rgba(220, 179, 184, .5),
                rgba(234, 146, 147, .6),
                rgba(242, 110, 112, .7),
                rgba(245,  63,  78, .8)),
              url(../../../media/ski.jpg) no-repeat center;
  background-size: cover, cover;
}

.Project-005-container {
  left: 40%;
  bottom: 20%;
}

.Project-005-title {
  position: relative;
  margin-top: 50vw;

  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;

  color: #fff;
}
